body {
  background-color: bisque;
}

h1 {
  color: #344b3c;
}

p {
  color: #626542;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  float: left;
  width: 300px;
  height: 780px;
  grid-gap: 30px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
  width: auto;
  height: auto;
  object-fit: contain;
}

.name {
  text-align: center;
  text-transform: capitalize;
}