body {
  background-color: bisque;
}

h1 {
  color: #344b3c;
}

p {
  color: #626542;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  float: left;
  width: 300px;
  height: 500px;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
}

.name {
  text-align: center;
  text-transform: capitalize;
}